<configuration>
    <appSettings>
        <setting key="DefaultDB" value="DEV" />
        <setting key="UseGrid" value="false" />                
        <setting key="MaxSimulationSize" value = "0" />
        <setting key="NoOfBatches" value ="1" />
        <setting key="OverwriteOutputs" value="false" />
        <setting key="AllowWriteMarketData" value="true" />
        <setting key="SaveMatFilesAsHDF5" value="true" />
        <setting key="ValidateControlFileSchema" value="true" />

        <!-- The path to the RSG output files here e.g.  /home/x1200000/iRSG/RSGOutput -->
        <setting key="OutputFolderPath" value="[THE FULLY QUALIFIED PATH TO THE RSG OUTPUT ROOT FOLDER]" />

        <!-- The path to the RSG input files here e.g.  /home/x1200000/iRSG/RSGInput -->
        <setting key="InputFolderPath" value="[THE FULLY QUALIFIED PATH TO THE RSG INPUT ROOT FOLDER]" />

        <!-- The path to the RSG installation folder here e.g.  /home/x1200000/iRSG/Source -->
        <setting key="RSGRoot" value="[THE FULLY QUALIFIED PATH TO THE RSG SOURCE ROOT FOLDER]" />

        <!-- The path to the folder above the +Model package directory e.g. /home/x1200000/Pil1ar1/Models -->
        <setting key="ModelsFolder" value="[THE FULLY QUALIFIED PATH TO THE RSG OR PILLAR ONE MODELS PACKAGE]" />


        <!-- Grid related settings -->
        <setting key="SchedulerType" value="LSF" />
        <setting key="ClusterMatlabRoot" value="/nfs/lldnfs01v/matlab/MATLAB" />
        <setting key="DataLocation" value="/nfs/lldnfs01v/matlab/job_data/lldmat03v" />
        <setting key="SymphonyUserId" value="[User Id]" />
        <setting key="SymphonyPassword" value="[Password]" />
        <setting key="SymphonyAppName" value="[App Name]" />
        <setting key="SymphonyInMemoryProcessingAppName" value="[App Name]" />
        <setting key="RSGSourceCodePath" value="[THE FULLY QUALIFIED PATH TO THE DEPLOYED RSG SOURCE CODE]" />
        <!-- End Grid related settings -->


        <!-- Start Number Formats for controlling RSG output precision-->
        
        <!-- Used in the HistoricalDataDAOs(e.g XmlHistoricalDataDao, DbHistoricalDataDao), and BootstrapEngine -->
        <setting key="HistoricalDataDaoNumberFormat" value="%.9g" />

        <!-- Used to convert scenario values in Algo and Pru File generation -->
        <setting key="ScenarioValueNumberFormat" value="%.9g" />

        <!-- Used to convert calibration params and correlation matrix values in RSGCalibrate -->
        <setting key="CalibrationNumberFormat" value="%.20E" />

        <!-- Name of value converter to convert scenario values -->
        <!-- See the +Converter folder under the ModelsFolder path -->
        <setting key="ScenarioValueConverterName" value="None" />

        <!-- End Number Formats -->
    </appSettings>

    <connectionStrings>
        <!-- Database connection details including user name and password -->
        <!-- Where xxx is the database name, yyyy is the port number and zzz is the database name -->
        <dbSetting key="DEV" databaseName="zzz" userName="" password="" url="jdbc:oracle:thin:@xxx:yyyy:zzz"  />          
    </connectionStrings>

    <historicalDataDaos default="XML">
        <dao name="DB" class="prursg.HistoricalDAO.DbHistoricalDataDao" />
        <dao name="XML" class="prursg.HistoricalDAO.XmlHistoricalDataDao">
            <property name="InputDir">[Dir Name]</property>
            <property name="OutputDir">[Dir Name]</property>
        </dao>
    </historicalDataDaos>

    <missingDataTreatmentRules>
        <rule name="Skip" class="prursg.HistoricalDAO.MissingDataTreatmentRule.SkipMissingDataTreatmentRule" />
        <rule name="Exception" class="prursg.HistoricalDAO.MissingDataTreatmentRule.ExceptionMissingDataTreatmentRule" />
        <rule name="Nil" class="prursg.HistoricalDAO.MissingDataTreatmentRule.NilMissingDataTreatmentRule" />
        <rule name="Preceding" class="prursg.HistoricalDAO.MissingDataTreatmentRule.PrecedingMissingDataTreatmentRule" />
        <rule name="Following" class="prursg.HistoricalDAO.MissingDataTreatmentRule.FollowingMissingDataTreatmentRule" />
        <rule name="Interpolation" class="prursg.HistoricalDAO.MissingDataTreatmentRule.InterpolationMissingDataTreatmentRule" />
    </missingDataTreatmentRules>
</configuration>
