<configuration>
    <appSettings>
        <setting key="DefaultDB" value="DEV" />
        <setting key="UseGrid" value="false" />                
        <setting key="MaxSimulationSize" value = "0" />
        <setting key="NoOfBatches" value ="1" />
        <setting key="OverwriteOutputs" value="true" />
        <setting key="OutputFolderPath" value="/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/NewTestResults" />
        <setting key="InputFolderPath" value="/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/Tests/Inputs/Regression/Persistence" />
        <setting key="MarketDataInputFolderPath" value="marketData" />
        <setting key="ClusterMatlabRoot" value="/nfs/lldnfs01v/matlab/MATLAB" />
        <setting key="DataLocation" value="/nfs/lldnfs01v/matlab/job_data/lldmat03v" />
        <setting key="RSGRoot" value="/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/RSG_Trunk_Latest/" />
        <setting key="ModelsFolder" value="/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/Tests/RSGModels" />
        <setting key="AllowWriteMarketData" value="true" />
        <setting key="SaveMatFilesAsHDF5" value="true" />

        <!-- Grid related settings -->
        <setting key="SchedulerType" value="generic" />
        <setting key="ClusterMatlabRoot" value="/nfs/lldnfs01v/matlab/MATLAB" />
        <setting key="DataLocation" value="/nfs/lldnfs01v/matlab/job_data/lldmat03v" />
        <setting key="SymphonyUserId" value="wasadmin" />
        <setting key="SymphonyPassword" value="PGDS_WAS" />
        <setting key="SymphonyAppName" value="symexec5.0" />
        <setting key="SymphonyInMemoryProcessingAppName" value="symexec5.0" />
        <setting key="RSGSourceCodePath" value="/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/RSG_Trunk_Latest" />
    </appSettings>
    <connectionStrings>
        <!-- specify the database connection details including user name and password where xxx is the database name, yyyy is the port number and zzz is the database name -->
        <dbSetting key="DEV" databaseName="RSG01A" userName="dev1_rsg_owner" password="dev1_rsg_owner" url="jdbc:oracle:thin:@axoradev03.hs.pru.com:1521:RSG01A"  />
    </connectionStrings>
    <historicalDataDaos default="XML">
        <dao name="DB" class="prursg.HistoricalDAO.DbHistoricalDataDao" />
        <dao name="XML" class="prursg.HistoricalDAO.XmlHistoricalDataDao">
            <property name="InputDir">/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/RSG_Trunk_Latest/Tests/Inputs/Bootstrap/Data/</property>
            <property name="OutputDir">/nfs/lldnfs01v/matlab/code/llwsolv107/dvalentine/RSG_Trunk_Latest/Tests/Inputs/Bootstrap/Output/</property>
        </dao>
    </historicalDataDaos>
    <missingDataTreatmentRules>
        <rule name="Skip" class="prursg.HistoricalDAO.MissingDataTreatmentRule.SkipMissingDataTreatmentRule" />
        <rule name="Exception" class="prursg.HistoricalDAO.MissingDataTreatmentRule.ExceptionMissingDataTreatmentRule" />
        <rule name="Nil" class="prursg.HistoricalDAO.MissingDataTreatmentRule.NilMissingDataTreatmentRule" />
        <rule name="Preceding" class="prursg.HistoricalDAO.MissingDataTreatmentRule.PrecedingMissingDataTreatmentRule" />
        <rule name="Following" class="prursg.HistoricalDAO.MissingDataTreatmentRule.FollowingMissingDataTreatmentRule" />
        <rule name="Interpolation" class="prursg.HistoricalDAO.MissingDataTreatmentRule.InterpolationMissingDataTreatmentRule" />
    </missingDataTreatmentRules>
</configuration>