% Allowed values are as follows.
%
% Case is important as is the space around the equals sign

Pillar1_checkpoint = NotSpecified

% Scenario data base connection details
DEV_DBNAME = NotSpecified
DEV_DBUSERNAME = NotSpecified
DEV_DBPASSWORD = NotSpecified

% Market  data database connection details
MDS_DBNAME = NotSpecified
MDS_DBUSERNAME = NotSpecified
MDS_DBPASSWORD = NotSpecified


