<configuration>
    <appSettings>
        <setting key="DefaultDB" value="DEV" />
        <setting key="UseGrid" value="false" />                
        <setting key="MaxSimulationSize" value = "0" />
        <setting key="NoOfBatches" value ="1" />
        <setting key="OverwriteOutputs" value="false" />

        <setting key="OutputFolderPath" value="../OutputFiles" />
        <setting key="InputFolderPath" value="../InputFiles" />

        <setting key="MarketDataInputFolderPath" value="marketData" />        

        <setting key="RSGRoot" value="../iRSG/Source" />

        <!-- specify the path to the +Model package directory being used for this instance of RSG -->
        <setting key="ModelsFolder" value="/nfs/lldnfs01v/matlab/code/llwsolv106/marcel/iRSG/Tests/FunctionalTests/QC2983/Models" />
        <setting key="AllowWriteMarketData" value="true" />
        <setting key="SaveMatFilesAsHDF5" value="true" />

        <!-- Grid related settings -->
        <setting key="SchedulerType" value="LSF" />
        <setting key="ClusterMatlabRoot" value="/nfs/lldnfs01v/matlab/MATLAB" />
        <setting key="DataLocation" value="/nfs/lldnfs01v/matlab/job_data/lldmat03v" />
        <setting key="SymphonyUserId" value="[User Id]" />
        <setting key="SymphonyPassword" value="[Password]" />
        <setting key="SymphonyAppName" value="[App Name]" />
        <setting key="SymphonyInMemoryProcessingAppName" value="[App Name]" />
        <setting key="RSGSourceCodePath" value="[THE FULLY QUALIFIED PATH TO THE DEPLOYED RSG SOURCE CODE]" />


    </appSettings>
    <connectionStrings>
        <!-- specify the database connection details including user name and password where xxx is the database name, yyyy is the port number and zzz is the database name -->
<dbSetting key="DEV" databaseName="RSG01A" userName="userName" password="password" url="jdbc:oracle:thin:@axoradev03.hs.pru.com:1521:RSG01A"  />
<dbSetting key="MDS" databaseName="RSG01A" userName="DEV1_MDM_OWNER" password="dev1_mdm_owner" url="jdbc:oracle:thin:@axoradev03.hs.pru.com:1521:RSG01A"/>
    </connectionStrings>

<!-- bootstrap -->

    <historicalDataDaos default="DB">
        <dao name="DB" class="prursg.HistoricalDAO.DbHistoricalDataDao">
        </dao>
        <dao name="XML" class="prursg.HistoricalDAO.XmlHistoricalDataDao">
            <property name="InputDir">/nfs/lldnfs01v/matlab/code/llwsolv106/marcel/iRSG/Tests/FunctionalTests/QC2983/BootstrapInput</property>
            <property name="OutputDir">/nfs/lldnfs01v/matlab/code/llwsolv106/marcel/iRSG/Tests/FunctionalTests/QC2983/BootstrapOutput</property>
        </dao>
    </historicalDataDaos>
    <missingDataTreatmentRules>
        <rule name="Skip" class="prursg.HistoricalDAO.MissingDataTreatmentRule.SkipMissingDataTreatmentRule" />
        <rule name="Exception" class="prursg.HistoricalDAO.MissingDataTreatmentRule.ExceptionMissingDataTreatmentRule" />
        <rule name="Nil" class="prursg.HistoricalDAO.MissingDataTreatmentRule.NilMissingDataTreatmentRule" />
        <rule name="Preceding" class="prursg.HistoricalDAO.MissingDataTreatmentRule.PrecedingMissingDataTreatmentRule" />
        <rule name="Following" class="prursg.HistoricalDAO.MissingDataTreatmentRule.FollowingMissingDataTreatmentRule" />
        <rule name="Interpolation" class="prursg.HistoricalDAO.MissingDataTreatmentRule.InterpolationMissingDataTreatmentRule" />
    </missingDataTreatmentRules>
</configuration>
